
#wrapper{
	overflow: hidden;
	position: relative;
}
.header{
	@include clearFix();
}
.logo-holder{
	width: 400px;
	margin: 0 auto 30px;
	a{
		display: block;
	}
	svg{
		display: block;
		height: auto;
		width: 100%;
	}
}




